.box {
  display: flex;
  flex-direction: column;

  border: solid 1px;

  padding: 10px;
}

.weaponTag {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.skillTag {
  display: flex;
  flex-direction: column;
}

.skillRecord {
  display: flex;
  flex-direction: column;
  align-items: end;
}