.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 10px;

  background-color: rgb(73, 84, 100);

}

.skillSelectHeader {
  font-size: 2vh;

  text-align: center;

  color: rgb(232, 232, 232);
}

.skillBox {
  display: flex;
  flex-direction: row;

  margin: 5px;
  gap: 2vw;
  padding: 5px;

  border-radius: 5px;

  background-color: rgb(187, 191, 202);
}

.skillSelectButtonBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

  /* width: 6vw; */
  min-width: 9vw;

  padding: 1vh;
  gap: 4px;

  /* background-color: rgb(187, 191, 202); */
}

.seriesSkillButtonBox {
  flex: 1;
  
  width: 100%;
  
  div {
    padding: 1px 5px 1px 5px;
    
    border-radius: 4px;
    

    background-color: rgb(232, 232, 232);
    
    text-align: end;
    font-size: 2vh;
    color: rgb(10, 10, 10);
  }
}

.groupSkillButtonBox {
  flex: 1;
  display: flex;
  flex-direction: row;
  
  width: 100%;
  
  gap: 5px;
  
  div {
    flex: 1;
    padding: 1px 5px 1px 5px;

    border-radius: 4px;
    
    background-color: rgb(232, 232, 232);

    text-align: end;
    font-size: 2vh;
    color: rgb(10, 10, 10);
  }
}
