.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  background-color: rgb(187, 191, 202);
}

.boxHeaderText {
  color: rgb(10, 10, 10);
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  margin: 1vw;
  padding: 1vw;
  gap: 2vw;
  
  border-radius: 25px;

  background-color: rgb(73, 84, 100);
}

.formInputBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.5vh;
}

.deviceFormHeaderText {
  display: flex;
  justify-content: center;

  width: 100%;

  text-align: center;

  color: rgb(232, 232, 232);
}

.submitBox {
  display: flex;
  flex-direction: row;
  align-items: center;

  box-sizing: content-box;

  width: 70%;
  height: 15%;
}

.submitButton {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1vh;

  border: none;
  border-radius: 5px;

  color: rgb(5, 5, 5);
  background-color: rgb(232, 232, 232);

  font-size: 1.5vh;
}

.submitButton:hover {
  color: rgb(5, 5, 5);
  background-color: rgb(200, 200, 200);
}

.submitButton:disabled {
  color: rgb(232, 232, 232);
  background-color: rgb(73, 84, 100);
}

.submitLock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  color: rgb(232, 232, 232)
}


.inputContainer {
  display: flex;
  justify-content: center;

  height: 100%;
  width: 100%;

  margin: 0.3vh;

  border-radius: 14px;

  background-color: rgb(232, 232, 232);
}

.inputBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 10px;
  gap: 10px;

  height: 4vh;

  font-size: 2vh;
  color: rgb(10, 10, 10);
}

.inputDeviceKey {
  padding: 5px;

  border-radius: 5px;
}

.input {
  height: 80%;
  width: 50%;

  border: solid 3px;
  border-color: rgb(187, 191, 202);
  border-radius: 10px;

  text-align: center;

  font-size: 2vh;

  color: rgb(10, 10, 10);
  background-color: rgb(187, 191, 202);

  caret-color: rgb(73, 84, 100);
}

.input:focus {
  outline: none;
  border: solid 3px;
  border-color: rgb(73, 84, 100);
}

.input:disabled {
  color: rgb(10, 10, 10);
  background-color: rgb(232, 232, 232);
}

.input::placeholder {
  text-align: center;
}