.overlay {
  position: fixed;
  inset: 0;

  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.exitButton {
  position: absolute;

  right: calc(1vw);
  top: calc(1vh);
  
  max-width: 2.5vw;

  border: solid 3px;
  border-radius: 10px;
  border-color: rgb(232, 232, 232);

  background-color: rgb(73, 84, 100);

  fill: none;
  stroke: rgb(232, 232, 232);

  stroke-width: 16px;
}

.exitButton:hover {
  background-color: rgb(232, 232, 232);
  border-color: rgb(73, 84, 100);

  stroke: rgb(73, 84, 100);
}

.recordListContainer {
  display: flex;
  flex-direction: column;

  gap: 10px;
  padding: 10px;

  width: 90vw;
  height: 90vh;
  overflow-y: auto;

  background-color: rgb(232, 232, 232);

  border-radius: 10px;
}

.recordListHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 10px;

  font-size: 3vh;
  color: rgb(73, 84, 100);

}

.orderRule {
  padding: 5px;

  border: solid 3px rgb(73, 84, 100);
  border-radius: 10px;

  background-color: rgb(232, 232, 232);

  font-size: 2vh;
  color: rgb(73, 84, 100);
}

.selectedOrderRule {
  border-color: rgb(187, 191, 202);
  background-color: rgb(73, 83, 100);
  color: rgb(232, 232, 232);
}

.recordBox {
  display: flex;
  flex-direction: column;

  gap: 1vh;

  width: 100%;
  height: 100%;

  border-radius: 10px;
}

.noRecordNoticeText {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1vh;
  padding: 1vh;

  box-sizing: content-box;

  height: 100%;

  font-size: 5vh;
  color: rgb(232, 232, 232);

  border-radius: 10px;

  background-color: rgb(73, 84, 100);
}
