.overlay {
  position: fixed;
  inset: 0;

  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.skillListBox {
  display: flex;
  flex-direction: column;
}