.box {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 1.5vh;

  border-radius: 10px;

  background-color: rgb(210, 210, 210, 0.9)
}

.weaponName {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1.5vh;
  padding: 10px;

  height: 100%;
  width: 11vw;

  font-size: 3vh;

  color: rgb(30, 30, 30);
}

.elementBox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1px;

  gap: 0.5vh;
  padding: 1vh;

  border-radius: 0 0 10px 10px;

  background-color: rgb(73, 84, 100, 0.4);
}


/* 속성 / 확인 갯수 */
.singleElement {
  display: flex;
  justify-content: start;
  align-items: center;

  margin: 5px;

  width: 6vw;
  height: 3vh;
  min-height: 3vh;
  min-width: 6vw;

  border-radius: 4px;

  cursor: pointer;

  p {
    text-align: center;
  }

  p:nth-child(1) {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;

    border-radius: 4px 0 0 4px;
  }

  p:nth-child(2) {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;


    border-radius: 0 4px 4px 0;

    background-color: rgb(232, 232, 232);
  }
}


.fire {
  p:nth-child(1) {
    background-color: rgb(212, 60, 60);
    
  }
}

.water {
  p:nth-child(1) {
    background-color: rgb(50, 96, 232);
  }
}

.electric {
  p:nth-child(1) {
    background-color: rgb(255, 247, 0);
  }


}

.ice {
  p:nth-child(1) {
    background-color: rgb(64, 182, 225);
  }


}

.dragon {
  p:nth-child(1) {
    background-color: rgb(96, 69, 232);
  }


}

.poison {
  p:nth-child(1) {
    background-color: rgb(112, 33, 202);
  }


}

.paralyze {
  p:nth-child(1) {
    background-color: rgb(215, 183, 0);
  }


}

.sleep {
  p:nth-child(1) {
    background-color: rgb(95, 158, 160);
  }


}

.explosion {
  p:nth-child(1) {
    background-color: rgb(217, 102, 2);
  }


}

.none {
  p:nth-child(1) {
    background-color: rgb(105, 105, 105);
  }
}