.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 3px;
  margin: 10px;

  width: 18vw;
  height: 80vh;
  overflow-y: auto;

  border-radius: 10px;

  background-color: rgb(73, 84, 100);
}

.recordListHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;

  width: calc(18vw - 10px - 3px);
  height: 12vh;

  border-radius: 10px 10px 0 0;

  background-color: rgb(73, 84, 100);

  h3 {
    margin-top: 3vh;
    color: rgb(232, 232, 232);
  }

  div {
    margin: 0;
    padding: 0.5vh;

    border: solid 3px rgb(187, 191, 202);
    border-radius: 5px;

    background-color: rgb(187, 191, 202);

    color: rgb(73, 84, 100);
  }
  
  div:hover {
    background-color: rgb(232, 232, 232);
    color: rgb(10, 10, 10);
  }

  p {
    padding-bottom: 10px;
    font-size: 1.5vh;
    color: rgb(232, 232, 232);
  }
}

.recordBox {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  margin-top: 13vh;

}

/* 기록된 테이블 스타일 */

.recordLabel {
  display: grid;
  grid-template-areas: 
    "order weapon skill"
  ;
  grid-template-columns: minmax(2vw, 3vw) minmax(5vw, 5vw) minmax(7.5vw, 7.5vw);

  margin: 10px 10px 0px 10px;
  padding: 5px;
  gap: 5px;



  border-radius: 10px;

  background-color: rgb(187, 191, 202);

  div {
    padding: 5px;
  }
}

.recordLabel:hover {
  background-color: rgb(232, 232, 232, 0.9);

  .orderBox, .weaponBox, .skillBox {
    background-color: rgb(73, 84, 100, 0.8);

    p {
      color: rgb(232, 232, 232, 0.9)
    }
  }
}

.orderBox {
  grid-area: order;
  
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  background-color: rgb(232, 232, 232);
  
  p {
    margin: 0;
    color: rgb(10, 10, 10);
  }
}

.weaponBox {
  grid-area: weapon;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;


  border-radius: 10px;

  background-color: rgb(232, 232, 232);

  p {
    margin: 0;
    text-align: center;
    font-size: 1.5vh;
    color: rgb(10, 10, 10);
  }
}

.skillBox {
  grid-area: skill;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

  border-radius: 10px;

  background-color: rgb(232, 232, 232);

  p {
    margin: 0;
    text-align: right;
    color: rgb(10, 10, 10);
  }
}