.overlay {
  position: fixed;
  inset: 0;

  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  height: 90vh;
  width: 50vw;

  border-radius: 5px;
  
  background-color: rgb(232, 232, 232);
}

.headerBox {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

}

.headerText {
  color: rgb(73, 84, 100);
}

.cancelButton {
  position: absolute;
  top: 5;
  right: 5;

  max-width: 2vw;

  border-radius: 4px;

  stroke: rgb(73, 84, 100);
  stroke-width: 10px;
}

.cancelButton:hover {
  background-color: rgb(73, 84, 100);
  stroke: rgb(232, 232, 232);
}

.contentBox {
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: relative;

  width: 100%;
  height: 100%;

  gap: 1vh;

  background-color: rgb(187, 191, 202);
}

.form {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: start;

  position: relative;

  width: 50%;

  margin: 1vh;
  gap: 1vw;
}

.textArea {
  flex: 3;
  position: relative;

  width: 50%;

  white-space: pre-wrap;
  resize: none;

  padding: 10px;

  background-color: rgb(232, 232, 232);

  color: rgb(73, 84, 100);

  outline: 0;
}

.submitButton {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 10%;
  height: 10%;

  border: solid 5px rgb(73, 84, 100);
  border-radius: 4px;

  background-color: rgb(73, 84, 100);

  color: rgb(232, 232, 232);
  font-size: 2vh;
  
}

.submitButton:hover {
  background-color: rgb(232, 232, 232);
  color: rgb(73, 84, 100);
}