.container {
  display: grid;
  place-items: center;

  margin: 0px 10px 0px 10px;
  gap: 5px;
  padding: 5px;

  border-radius: 10px;

  background-color: rgb(187, 191, 202);
}

.selectHeader {
  display: flex;
  justify-content: center;
  align-content: center;

  width: 80%;
  height: 100%;

  margin: 5px;
}

.headerText {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  font-size: 3em;

  margin: 10px;

  color: rgb(0, 0, 0);
}

.selectListBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1vh;
  grid-row-gap: 1vw;
  place-items: center;

  width: 80%;

  padding: 2vh;

  border-radius: 10px;

  background-color: rgb(73, 84, 100);
}

.weaponName {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;

  width: 80%;
  height: 100%;

  border: solid 1px;
  border-radius: 10px;
  border-color: rgb(150, 150, 150);

  background-color: rgb(232, 232, 232);
  color: rgb(0, 0, 0);

  font-size: 1.5em;

  transition: all 0.2s ease-in-out;
}

.weaponSelected {
  border-color: rgb(150, 150, 150);

  background-color: rgb(33, 33, 33);
  color: rgb(232, 232, 232);
}

.weaponName:hover {
  color: black;
  background-color: rgb(151, 154, 164);
}